.sobre{
    padding-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}

.sobre-skills{
    border: 1px solid #cecece;
    padding: 30px;
    margin-right: 12px;
    width: 100%;
}

.images-sobre{
    width: 45px;
    height: auto;
}

.lista-skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 20px 0 20px;
}

.skills > a > img{
    width: 60px;
    height: auto;
}

.sobre-dados{
    border: 1px solid #cecece;
    padding: 30px;
    margin-left: 12px;
}

.image-perfil{
    border-radius: 10px 30px 20px 30px;
    max-width: 350px;
    max-height: auto;
    margin: 30px 0 30px 0;
}

.sobre-dados > h4{
    margin: 20px 0 20px 0;
    font-size: 18px;
}

.lista-socials{
    display: flex;
    flex-direction: row;
}

.socials{
    margin-right: 15px;
}

.image-socials{
    max-width: 30px;
    max-height: auto;
}
